@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family), sans-serif;
}

:root {
  --font-family: "Roboto";

  --btn-clr: #1e3640;
  --btn-clr-clicked: rgb(79, 138, 186, 0.5);
  --modal-bg-color: #0b131a;

  --saffron-clr-nuetral: #f2b236;
  --turquosie-clr-nuetral: #31c4be;
  --opal-clr-nuetral: #a9bfc7;
  --tePapaGreen-clr-nuetral: #1e3640;
}

.circle {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 15px solid var(--saffron-clr-nuetral);
}

.cross {
  height: 60px;
  width: 60px;
  position: relative;
  transform: rotate(45deg);
}
.cross::before,
.cross::after {
  content: "";
  position: absolute;
  background-color: var(--turquosie-clr-nuetral);
  border-radius: 0.179rem;
}
.cross::before {
  left: 35%;
  width: 30%;
  /* margin-left: -15%; */
  height: 100%;
}
.cross::after {
  top: 35%;
  height: 30%;
  /* margin-left: -15%; */
  width: 100%;
}
#small-cross {
  height: 23px;
  width: 23px;
  position: relative;
  transform: rotate(45deg);
}
body {
  background-color: #1a2b33;
  height: 100vh;
  display: grid;
  place-items: center;
  position: relative;
  
}

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-inline: 1rem;
}

#info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.6rem;
  align-items: center;
}
.info-items {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0.3rem;
  border-radius: 0.313rem;
}

.info-items#players-turn {
  justify-content: space-evenly;
  background-color: var(--btn-clr);
  color: var(--opal-clr-nuetral);
  font-weight: 500;
  padding: 0.3rem 0.5rem;
  box-shadow: 0 0.287rem 0 #13242c;
}

#reset-button {
  margin-left: auto;
  padding: 0.5rem;
  border-radius: 0.313rem;
  border: 0;
  /* box-shadow: 0 .187rem 0 rgb(169, 191, 199, .4); */
  background-color: var(--opal-clr-nuetral);
  cursor: pointer;
}
#reset-button:active {
  background-color: var(--btn-clr);
  color: var(--opal-clr-nuetral);
  box-shadow: none;
}

#small-circle {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 6px solid var(--saffron-clr-nuetral);
  box-sizing: border-box;
}

#game-board {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  column-gap: 12px;
  row-gap: 15px;
  border-radius: 0.313rem;
  justify-content: center;
  align-items: center;
  /* width: 312px; */
}
.button {
  display: grid;
  place-items: center;
  background-color: var(--btn-clr);
  height: 100px;
  border: 0;
  border-radius: 10px;
  box-shadow: 0 0.487rem 0 #13242c;
  cursor: pointer;
}
.button:active {
  background-color: var(--btn-clr-clicked);
}

#score {
  /* margin-top: 0.31rem; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}
.score-items {
  border-radius: 0.313rem;
  background-color: lightblue;
  padding: 0.3rem;
}
#X {
  background-color: var(--turquosie-clr-nuetral);
}
#ties {
  background-color: var(--opal-clr-nuetral);
}
#Y {
  background-color: var(--saffron-clr-nuetral);
}
#x-score,
#ties-score,
#o-score {
  display: grid;
  place-items: center;
  font-size: 0.8rem;
}

#x-current-score,
#ties-current-score,
#o-current-score {
  color: var(--btn-clr);
  font-weight: 700;
  font-size: 1rem;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  /* position: relative; */
  background-color: rgb(11, 19, 26, 0.6);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  place-items: center;
  gap: 0.5rem;
  background-color: var(--tePapaGreen-clr-nuetral);
  width: 100%;
  padding: 2rem 0;
}

#modal-header {
  color: var(--opal-clr-nuetral);
  font-weight: 500;
  font-size: .8rem;
}

.modal-items {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.items-container {
  display: flex;
  gap: 1rem;
}
#round-winner {
  font-weight: 500;
  font-size: 2rem;
}
.cross-wins {
  color: var(--turquosie-clr-nuetral);
}
.circle-wins {
  color: var(--saffron-clr-nuetral);
}
.tied {
  color: var(--opal-clr-nuetral);
}
#quit-btn {
  font-weight: 500;
  margin-left: auto;
  padding: 0.6rem;
  border-radius: 0.313rem;
  border: 0;
  /* box-shadow: 0 .187rem 0 rgb(169, 191, 199, .4); */
  background-color: var(--opal-clr-nuetral);
  cursor: pointer;
}

#quit-btn:active {
  background-color: var(--btn-clr);
  color: var(--opal-clr-nuetral);
}

#next-round-btn {
  font-weight: 500;
  margin-left: auto;
  padding: 0.6rem;
  border-radius: 0.313rem;
  border: 0;
  /* box-shadow: 0 .187rem 0 rgb(169, 191, 199, .4); */
  background-color: var(--saffron-clr-nuetral);
  cursor: pointer;
}
#next-round-btn:active {
  background-color: var(--btn-clr);
  color: var(--opal-clr-nuetral);
}
